.row-fluid .offset2:first-child{
margin-left: 1.094017094017094%;
}

.row-fluid .span8{
width: 83%;
}

.output_png {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

div.input_area{
background: #fffbd1 !important;
}

row-fluid .span1{
width: 2.8% !important;
}
